<h2>Записавшиеся клиенты</h2>

<table class="table">
	<thead>
		<tr>
			<th>Дата и время записи</th>
			<th>Парикмахер</th>
			<th>Клиент</th>
			<th>Телефон клиента</th>
			<th>Цвет</th>
		</tr>
	</thead>
	<tbody>
		<% @results.each do |row| %>
			<tr>
	  			<td><%= row['datestamp'] %></td>
	  			<td><%= row['barber'] %></td>
	  			<td><%= row['username'] %></td>
	  			<td><%= row['phone'] %></td>
	  			<td><%= row['color'] %></td>
	  		</tr>
		<% end %>
	</tbody>
</table>